name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Node dependencies
        run: npm ci

      - name: Build and Release Electron App
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          # We skip the build:python part of the build script since we did it above
          npm run build:web
          npm run build:electron
          npx electron-builder --${{ matrix.os == 'ubuntu-latest' && 'linux' || 'win' }} --publish never

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: DocuSenseLM-${{ matrix.os == 'ubuntu-latest' && 'linux' || 'windows' }}-${{ github.ref_name }}
          path: dist/*.*
          retention-days: 30

